<script src="<%= js_source(@js_host, h(@version), 'pusher.js') %>"></script>

<div class="row-fluid">
  <div class="span9">
    <div id="controls">
      <a href="/hello?env=<%= h(@env.name) %>" class="btn btn-primary ajax"
         data-loading-text="Loading...">
        Trigger (AJAX)
      </a>

      <button id="client" class="btn btn-primary"
         data-loading-text="Loading...">
        Trigger (Client)
      </button>

      <span id="connect-group" class="btn-group">
        <a href="#" id="connect" class="btn">Connect</a>
        <a href="#" id="disconnect" class="btn">Disconnect</a>
      </span>

      <% if @force_ssl %>
        <div class="btn disabled">SSL on</div>
      <% elsif @ssl %>
        <%= link_to "SSL off", test_query_string(ssl: false), class: 'btn' %>
      <% else %>
        <%= link_to "SSL on", test_query_string(ssl: true), class: 'btn' %>
      <% end %>

      <span class="label" id="status">-</span>
    </div>

    <h4>Event log</h4>

    <ul class="" id="debug-console"></ul>
  </div>

  <div class="span3">
    <h3>Using version <%=h @version %></h3>

    <% if @version >= '1.7.0' %>
    <p>
      Connecting using
      <% if @ssl %>
        <strong>WSS/HTTPS</strong>.
      <% else %>
        <strong>WS/HTTP</strong>.
      <% end %>
    </p>
    <% end %>

    <% if @version >= '1.4.0' %>
      <h4>Choose cluster</h4>

      <select name="env" id="cluster-choice">
        <% @public_clusters.each do |cluster_shortcode| %>
          <option value="<%= cluster_shortcode %>" <%= @env.name.to_s == cluster_shortcode.to_s ? 'selected="selected"' : '' %>><%= cluster_shortcode %></option>
        <% end %>
      </select>
    <% end %>

    <% if @version >= '2.0.0' %>
      <h4>Select transports</h4>
      <ul id="transports">
        <% supported_transports(@version).each do |transport| %>
          <li>
            <input type="checkbox" id="transport_<%= transport %>">
            <%= transport %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <h4>Filter logs</h4>
    <ul id="log_types">
      <% ["status", "message", "error", "debug"].each do |type| %>
        <li>
          <input type="checkbox" id="log_<%= type %>">
          <%= type %>
        </li>
      <% end %>
    </ul>

    <h4>Files</h4>

    <ul>
      <% files(@version).each do |file| %>
        <li><%= link_to file, js_source(@js_host, h(@version), file) %></li>
      <% end %>
    </ul>

    <div class="versions">
      <h4>Use another version</h4>

      <div class="version-list">
        <% VERSIONS.reverse.each do |v| %>
        <p><a href="/<%= test_query_string(version: v) %>"><%= v %></a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/logger.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // Not usually required - used for debugging on multiple environments
  Pusher.host = "<%= @env[:ws_host] %>";
  Pusher.ws_port = <%= @env[:ws_port] %>;
  Pusher.wss_port = <%= @env[:wss_port] %>;
  Pusher.sockjs_host = "<%= @env[:sockjs_host] %>";
  Pusher.sockjs_http_port = <%= @env[:sockjs_http_port] %>;
  Pusher.sockjs_https_port = <%= @env[:sockjs_https_port] %>;

  <% if @version >= "2.0.0" %>
    bindTransportCheckboxes('<%= @version %>', <%= @ssl %>, <%= JSON.generate(@selected_transports) %>);
  <% end %>

  bindLogCheckboxes(logger.types);

  $('#cluster-choice').change(function() {
    var chosenCluster = $(this).find(":selected").text();
    window.location.href = '/?env=' + chosenCluster;
  })

  run({
    name: <%= @env.name.inspect %>,
    key: <%= @env[:key].inspect %>,
    encrypted: <%= @ssl %>,
    version: "<%= h(@version.to_s.split(".")) %>"
  });
});
</script>
