<script src="<%= source(@version, 'pusher.js', @ssl) %>"></script>

<p><em>This page uses Pusher javascript version <%= @version %> over <%= @ssl ? 'wss' : 'ws' %>.</em></p>

<% if !@ssl && @version >= '1.7.0' %>
<p><a href="?ssl=true">Switch to wss</a></p>
<% end %>

<p>It tries to connect to channel 'channel' and listens on event 'event' for messages. These files are included in the version:</p>

<% files(@version).each do |file| %>
  <li><a href="<%= source(@version, file, @ssl) %>"><%= file %></a></li>
<% end %>

<p>Connection status: <span id="status">unloaded</span></p>

<p><a href="/hello" class="ajax">Say hello</a></p>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ajax').click(function() {
      $.post(this.href);
      return false;
    })
    
    var status = function(st) {
      $('#status').text(st);
    }

    var print_message = function(msg) {
      $('#messages').append("<li>"+msg+"</li>");
    }
    
    <% if @version < "1.5.0" %>
    WebSocket.__swfLocation = "/WebSocketMain.swf";
    <% end %>
    
    // Enable pusher logging
    Pusher.log = function() {
      if (window.console) window.console.log.apply(window.console, arguments);
    };

    // Flash fallback logging
    WEB_SOCKET_DEBUG = true;
    
    <% if @version >= '1.7.0' && @ssl %>
    var pusher = new Pusher('<%= Pusher.key %>', {
      encrypted: true
    });
    var channel = pusher.subscribe('channel');
    channel.bind("event", function(data) {
      print_message(data);
    })
    <% elsif @version >= '1.4.0' %>
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('channel');
    channel.bind("event", function(data) {
      print_message(data);
    })
    <% else %>
    var pusher = new Pusher('<%= Pusher.key %>', 'channel');
    pusher.bind("event", function(data) {
      print_message(data);
    })
    <% end %>
    
    status('connecting')
    
    pusher.bind("pusher:connection_established", function() {
      status('connected');
    })
    pusher.bind("connection_established", function() {
      status('connected');
    })
    
    pusher.bind("pusher:connection_failed", function() {
      status('disconnected')
    })
    pusher.bind("connection_failed", function() {
      status('disconnected')
    })
  })
</script>

<h2>Messages</h2>

<ul id="messages">
  
</ul>